@import url('https://fonts.googleapis.com/css2?family=Anton&family=Castoro+Titling&family=Courgette&family=Dancing+Script:wght@700&family=Edu+SA+Beginner:wght@500&family=Fasthand&family=Lugrasimo&family=Oswald&family=Pacifico&family=Permanent+Marker&family=Press+Start+2P&display=swap');
.h_full{
    background-color: #8B8BAE;
}
.head{
    font-family: 'Lugrasimo', cursive;
    font-size: xx-large;
    font-weight: bolder;
    /* color:goldenrod; */
    
}
/* -------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}
/* =-------------------------------------------------- */
/* .head:hover{
    color:rgb(235, 174, 100);
    font-weight: bolder;
} */
.back{
    background-color: #8B8BAE;
}
.non-head{
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    font-weight: bold;
    /* color: darkgoldenrod; */
}
/* .l{
    background-color:darkkhaki;
    color:rgb(142, 103, 4);
    font-family: 'Oswald', sans-serif;
    font-size: large;
    font-weight: bold;
} */
/* .l:hover{
    color: azure;
} */
/* #text{
    color:darkkhaki;
} */
/* .cara{
    width: 600px;
    height: 400px;
} */
/* #carouselExampleFade{
    align-self: center;
    margin-top: 25px;
    margin-bottom: 25px;
} */
#price{
    background-color: #D9EE5F;
}
.d-block{
    /* position: relative; */
    /* height: 500px;
    width: max-content;
    justify-content: center; */
    width:1530px;
    height: 640px;
}

.tileBox p{
    background-color: #FFF7EF;
font-size: 15px;
/* color: #777777; */
padding: 20px;
margin: 0px;
}
.header {
    position: fixed;
    width: 100%;
    /* background: #CC4646; */
    z-index: 50;
    border-radius: 0;
    top: 0px;
    /* border-bottom: 1px solid #F57676; */
}
#container {
    /* border: 1px solid #0a0303; */
    padding: 5px;
    margin-bottom: 20px;
  }
  #aboutUs .txtHead{
    background:#8B8BAE;
    padding:20px 10px;
    }
    #aboutUs .txtHead .fa {
    font-size: 58px;
    /* color: #5E5E5E; */
    }
    
  
        #footer{
            background-color: #8B8BAE;
            height: 50px;
            
        }
		
		
		
            ul.menu li {
                display: inline-block;
               
            }

            ul.actions li {
                display: inline-block;
                margin: 0 0 0 0.5em;
            }

            ul.actions li:first-child {
                margin-left: 0;
            }
            #footer .menu {
                position: absolute;
                right: 2em;
               
                height:auto;
                line-height: inherit;
                margin: 0;
                font-size: 1em;
               
            }
    
                #footer .menu li {
                    font-size: 1em;
                }
          
    