#b-img{
    background-image:url("https://static.vecteezy.com/system/resources/previews/002/962/093/original/chef-is-cooking-in-the-kitchen-background-vector.jpg")
}
.d-flex {
    position: relative;
  }
  
  .border {
    position: absolute;
    top: 50px;
    right: 20%;
    background-color: #f0f0f0;
    padding: 10px;
    transition: left 0.3s ease; 
  }
  
